:root{
    
}
.dodecaSvg{
    margin:1rem;
}
#dodecaSvg{

    fill:#0000;
    stroke:white;
    stroke-width: .05rem;
   
    animation: fillIn 10s linear forwards;
    @keyframes fillIn{
        30%{fill:white}
        100%{stroke-dashoffset: 0; fill:white}
        
    }
    
}
html{
    font-size: 120%;
    font-family: monospace;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    height:100vh;
    width:100vw;
    /* background-image: repeating-conic-gradient(
    from 45deg,    
    lightblue 0deg 90deg,
    pink 90deg 180deg
    );
    background-size: 25rem 25rem; */
     background-image:linear-gradient( 60deg, #5f75b8,#335bd1 );
    
    background-blend-mode:color-burn;
}
.bgWaves{
    z-index:-10;
    overflow-x: hidden;
    position: absolute;
    display: flex;
    height:90vh;
    width:150vw;
    margin-left: -10rem;
    path{
        position: absolute;
        width:150%;
        left:1000px;
        transform: scaleX(1.1);
        
    }
    /* 
    :nth-child(1){
        fill: #ff6355;
        stroke: #ff6355;
    }
    :nth-child(2){
        fill:#fba949;
        stroke:#fba949;
    }
    :nth-child(3){
        fill:#fae442;
        stroke:#fae442;
    }
    :nth-child(4){
        fill:#8bd448;
        stroke:#8bd448;
    }
    :nth-child(5){
        fill: #2696d6;
        stroke:#2696d6;;
    } */
}
