







label, output{
    user-select:none;
}
.soundControlContainer{
    color:white;
    display:flex;
    width: 100%;
    height: 100%;
    *{
        margin-right:1rem;
    }
    .volumeContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width:10%;
        height:100%;
        color:white;
        font-size: 1.5rem;
        *{
            margin-top: 1rem;
            width:100%;
        }
    }
    ///// ADSR
    .ADSRcontainer{
        position: relative;
        width:fit-content;
        height:100%;
        margin-left:2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .adsrTooltip{
            position: absolute;
            top:0;
            right:0;
            background-color: pink;
            border:1px solid black;
            color:black;
            opacity: .6;
            width:1rem;
            height:1rem;
            text-align:center;
            border-radius: 50%;
            user-select: none;
            cursor: pointer;
        }
        .adsrImg{
            position:absolute;
            height:10rem;
            top:-10rem;
            left:-5rem;
            opacity:0;
            transition:all 1s ease;
            border-radius:1rem;
        }
        .adsrTooltip:hover + .adsrImg{
            opacity:.9;
        }
        .adsrBox{
            display: flex;
            
            input[type=range]{
                
                width:5rem;
            }
            output{
                width:100%;
            }
        }
    }
    /////////
    ////Waveforms
    .waveTypeContainer{
        .waveTypeBox{
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            width:fit-content;
            ul{
                list-style: none;
                display: grid;
               
                position: relative;
                li{
                    display: flex;
                    justify-content: start;
                }
                input[type=radio]
                {
                }
                span{
                    user-select: none;
                }
            }
        }
    }


    ///////  Vibrato

    .lfoContainer{
        width:10%;
        height:100%;
        .lfoBox{
            margin-top: 1rem;
            display:flex;
            flex-direction: column;
            text-align: center;
            .vibratoSliderBox{
                margin-top: 0rem;
            }
        }
    }

    //////// Harmonizer
    .harmonizerContainer{
            
        .harmonizerBox{
            margin-top: 1rem;
            display:flex;
            flex-direction: column;
            width:10rem;
            height:100%;
            text-align: center;
            position:relative;
            
            label{
               position:absolute;
               top:0;
               left:2rem;
            }
            #harmonizerCheckbox{
                margin-right:auto;
                display: inline;
            }
            #harmonizerSlider{
                margin-top:1rem;
            }
            #hGainDiv{
                margin-top: 1rem;
                display: flex;
                width:100%;
                #harmonizerGain{
                    width:3rem;
                }
            }
        }
    }


    //////// A frequency
    .aPitchContainer{
        display: flex;
        margin-left:auto;
        .aPitchBox{
        display:flex;
        flex-direction: column;
        justify-content: start;
        text-align: center;
        *{
            margin-top: 1rem;
        }
        }
    }


    /////////////

}


.keyboard--sizeControl{
    min-width: 8rem;
    height:100%;
    display: flex;
    flex-direction: column;
    position:relative;
    #lblSliderX{
        position: absolute;
        bottom:2rem;
        left:2rem;
    }
    #sliderX{
        position: absolute;
        bottom:1rem;
        left:1rem;
        width:6rem;
    }
    
    #lblSliderY{
        position:absolute;
        top:3rem;
        left:1rem;
        transform:rotate(90deg);
    }
    .sliderY{
        position:absolute;
        top:3rem;
        height:1rem;
        width:6rem;
        left:-2rem;
        transform:rotate(90deg);
    }
}


