:root {
  --soundControlColor1:#0002;
  --soundControlColor2:#0004;
}

label, output {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.soundControlContainer {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.soundControlContainer * {
  padding-right: 1rem;
}

.soundControlContainer .volumeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 10%;
  height: 100%;
  color: white;
  background-color: #fff1;
  font-size: 1.5rem;
}

.soundControlContainer .volumeContainer label {
  margin-top: 1rem;
}

.soundControlContainer .volumeContainer * {
  margin-left: 1rem;
  width: 100%;
}

.soundControlContainer .volumeContainer .noteGain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-size: 1rem;
}

.soundControlContainer .volumeContainer .noteGain * {
  margin: 0;
}

.soundControlContainer .volumeContainer .noteGain label {
  margin-top: 1rem;
}

.soundControlContainer .volumeContainer .noteGain input[type=range] {
  margin-left: 1rem;
}

.soundControlContainer .ADSRcontainer {
  background-color: var(--soundControlColor1);
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.soundControlContainer .ADSRcontainer .adsrTooltip {
  position: absolute;
  top: 0;
  right: 0;
  background-color: pink;
  border: 1px solid black;
  color: black;
  opacity: .6;
  width: 1rem;
  height: 1rem;
  text-align: center;
  border-radius: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.soundControlContainer .ADSRcontainer .adsrImg {
  position: absolute;
  height: 10rem;
  top: -10rem;
  left: -5rem;
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  border-radius: 1rem;
}

.soundControlContainer .ADSRcontainer .adsrTooltip:hover + .adsrImg {
  opacity: .9;
}

.soundControlContainer .ADSRcontainer .adsrBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 2rem;
}

.soundControlContainer .ADSRcontainer .adsrBox input[type=range] {
  width: 5rem;
}

.soundControlContainer .ADSRcontainer .adsrBox output {
  width: 100%;
}

.soundControlContainer .waveTypeContainer {
  background-color: var(--soundControlColor2);
  padding-left: 1rem;
}

.soundControlContainer .waveTypeContainer .waveTypeBox {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.soundControlContainer .waveTypeContainer .waveTypeBox label {
  margin-bottom: .8rem;
}

.soundControlContainer .waveTypeContainer .waveTypeBox ul {
  list-style: none;
  display: -ms-grid;
  display: grid;
  position: relative;
}

.soundControlContainer .waveTypeContainer .waveTypeBox ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: .3rem;
}

.soundControlContainer .waveTypeContainer .waveTypeBox ul li span {
  margin-left: .2rem;
}

.soundControlContainer .waveTypeContainer .waveTypeBox ul span {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.soundControlContainer .lfoContainer {
  background-color: var(--soundControlColor1);
  padding-left: 1rem;
  width: 10%;
  height: 100%;
}

.soundControlContainer .lfoContainer label {
  margin-bottom: .8rem;
}

.soundControlContainer .lfoContainer .lfoBox {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.soundControlContainer .lfoContainer .lfoBox .vibratoSliderBox {
  margin-top: 0rem;
}

.soundControlContainer .harmonizerContainer {
  background-color: var(--soundControlColor2);
  padding-left: 1rem;
}

.soundControlContainer .harmonizerContainer .harmonizerBox {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 10rem;
  height: 100%;
  text-align: center;
  position: relative;
}

.soundControlContainer .harmonizerContainer .harmonizerBox label {
  position: absolute;
  top: 0;
  left: 2rem;
}

.soundControlContainer .harmonizerContainer .harmonizerBox #harmonizerCheckbox {
  margin-right: auto;
  display: inline;
}

.soundControlContainer .harmonizerContainer .harmonizerBox #harmonizerSlider {
  margin-top: 1.2rem;
}

.soundControlContainer .harmonizerContainer .harmonizerBox #hGainDiv {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.soundControlContainer .harmonizerContainer .harmonizerBox #hGainDiv #harmonizerGain {
  width: 3rem;
}

.soundControlContainer .delayContainer {
  background-color: var(--soundControlColor1);
}

.soundControlContainer .delayContainer .delayBox {
  margin-left: 2rem;
  margin-top: 1rem;
  width: 15rem;
}

.soundControlContainer .delayContainer .delayBox .checkBoxLabel {
  margin-bottom: .2rem;
}

.soundControlContainer .delayContainer .delayBox .checkBoxLabel * {
  margin-right: 0;
}

.soundControlContainer .delayContainer .delayBox .checkBoxLabel #loopDelayCheckbox {
  margin-left: 1rem;
}

.soundControlContainer .delayContainer .delayBox .delaySliders {
  width: 100%;
}

.soundControlContainer .delayContainer .delayBox .delaySliders .delaySliderBox {
  margin-top: .3rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 3fr .1fr;
      grid-template-columns: 3fr .1fr;
}

.soundControlContainer .delayContainer .delayBox .delaySliders .delaySliderBox input[type=range] {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/span 2;
}

.soundControlContainer .delayContainer .delayBox .delaySliders .delaySliderBox label {
  -ms-grid-row: 1;
  grid-row: 1;
}

.soundControlContainer .delayContainer .delayBox .delaySliders .delaySliderBox output {
  -ms-grid-row: 1;
  grid-row: 1;
}

.soundControlContainer .aPitchContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.soundControlContainer .aPitchContainer .aPitchBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  text-align: center;
}

.soundControlContainer .aPitchContainer .aPitchBox * {
  margin-top: 1rem;
}
/*# sourceMappingURL=sliders.css.map */