



:root{
    --soundControlColor1:#0002;
    --soundControlColor2:#0004;
}



label, output{
    user-select:none;
}
.soundControlContainer{
    color:white;
    display:flex;
    width: 100%;
    height: 100%;
    *{
        padding-right:1rem;
    }
    .volumeContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width:10%;
        height:100%;
        color:white;
        background-color: #fff1;
        font-size: 1.5rem;
        *{
            margin-left: 1rem;
            margin-top: 1rem;
            width:100%;
        }
    }
    ///// ADSR
    .ADSRcontainer{
        background-color: var(--soundControlColor1);
        position: relative;
        width:fit-content;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .adsrTooltip{
            position: absolute;
            top:0;
            right:0;
            background-color: pink;
            border:1px solid black;
            color:black;
            opacity: .6;
            width:1rem;
            height:1rem;
            text-align:center;
            border-radius: 50%;
            user-select: none;
            cursor: pointer;
        }
        .adsrImg{
            position:absolute;
            height:10rem;
            top:-10rem;
            left:-5rem;
            opacity:0;
            transition:all 1s ease;
            border-radius:1rem;
        }
        .adsrTooltip:hover + .adsrImg{
            opacity:.9;
        }
        .adsrBox{
            display: flex;
            
            margin-left:2rem;
            input[type=range]{
                
                width:5rem;
            }
            output{
                width:100%;
            }
        }
    }
    /////////
    ////Waveforms
    .waveTypeContainer{
        background-color: var(--soundControlColor2);
        padding-left:1rem;
        .waveTypeBox{
            label{
                margin-bottom: .8rem;
                
            }
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            width:fit-content;
            ul{
                list-style: none;
                display: grid;
               
                position: relative;
                li{
                    display: flex;
                    justify-content: start;
                    margin-bottom: .3rem;
                    span{
                        margin-left: .2rem;
                    }
                }
                input[type=radio]
                {
                }
                span{
                    user-select: none;
                }
            }
        }
    }


    ///////  LFO Vibrato

    .lfoContainer{
        background-color: var(--soundControlColor1);
        padding-left: 1rem;
        width:10%;

        height:100%;
        label{
            margin-bottom: .8rem;
        }
        .lfoBox{
            margin-top: 1rem;
            display:flex;
            flex-direction: column;
            text-align: center;
            .vibratoSliderBox{
                margin-top: 0rem;
            }
        }
    }

    //////// Harmonizer
    .harmonizerContainer{
        background-color: var(--soundControlColor2);
        padding-left: 1rem;
        .harmonizerBox{
            margin-top: 1rem;
            display:flex;
            flex-direction: column;
            width:10rem;
            height:100%;
            text-align: center;
            position:relative;
            
            label{
               position:absolute;
               top:0;
               left:2rem;
            }
            #harmonizerCheckbox{
                margin-right:auto;
                display: inline;
            }
            #harmonizerSlider{
                margin-top:1.2rem;
            }
            #hGainDiv{
                margin-top: 1rem;
                display: flex;
                width:100%;
                #harmonizerGain{
                    width:3rem;
                }
            }
        }
    }

    /////// Delay

    .delayContainer{
        background-color: var(--soundControlColor1);
        
        .delayBox{
            
            margin-left: 2rem;
            margin-top: 1rem;
            width:15rem;
            .checkBoxLabel{
                margin-bottom: .2rem;
               *{
                   margin-right:0;
               }
               #loopDelayCheckbox{
                   margin-left: 1rem;
               }
            }
           
            .delaySliders{
                width:100%;
                .delaySliderBox{
                    margin-top: .3rem;
                    width:100%;
                    display: grid;
                    grid-template-rows: 1fr 1fr;
                    grid-template-columns: 3fr .1fr;
                    input[type=range]{
                        grid-column:1/span 2;
                    }
                    label{
                        grid-row:1;
                    }
                    output{
                        grid-row:1;
                    }
                }
            }
        }
    }


    //////// A frequency
    .aPitchContainer{
        display: flex;
        margin-left:auto;
        .aPitchBox{
        display:flex;
        flex-direction: column;
        justify-content: start;
        text-align: center;
        *{
            margin-top: 1rem;
        }
        }
    }


    /////////////

}




