
:root{


    //--octaveWidth:clamp(10rem, 25vw, 15rem);
    --octaveWidth:16.6rem;
    --octaveHeight:10rem;

    --whiteHeight:var(--octaveHeight);
    --blackHeight:calc(var(--whiteHeight)/2);

    --whiteWidth:calc(var(--octaveWidth)/7);
    --blackWidth:calc(var(--whiteWidth)/2.3);

    --whiteKeyPress: whiteKeyPress 2s ease;

    --bottombarHeight:7rem;
}
body{
    counter-reset: keyC;
}

button{
    cursor: pointer;
}
#svgsvg{
    background-color: pink;
    stroke:red;
    stroke-width: 10px;
    z-index: 100;
}
/* button:hover{
    animation: whiteKeyPress 2s ease;
} */

//////////////////////
.keyboardWrapper{
    display: flex;
    position: relative;
    width:100%;
    
}
///////////////////////////////////////////////////////

.keyboardHead{
    position:absolute;
    display:flex;
    background-color: #253259f5;
    top:-12rem;
    height:12rem;
    
    width:100%;
    border-radius: .3rem .3rem .1rem .1rem;
    //cursor:grab;
}



/////////
.keyboardContainer{
    display: flex;
    width:fit-content;
    min-width: 100vw;
    height: fit-content;
    background-color: #fff9;
    z-index: 20;
    
    .octave{
        *{
            margin:.0005rem;
            border:transparent;
        }
        display: flex;
        height:var(--octaveHeight);
        width:var(--octaveWidth);
        position: relative;
        .white{
            background-image: linear-gradient(to top, #fff1,#ddd);
            
            border-bottom: 10px inset #eee9;
            border-left: .01rem solid #ddd;
            border-right: .01rem solid #ddd;
            border-top: none;
            border-radius: 0 0 5px 5px;
            height: var(--whiteHeight);
            width:var(--whiteWidth);
        }
        .black{
            position: absolute;
            z-index: 10;
            background-color: black;
            
            height:var(--blackHeight);
            width:var(--blackWidth);
        }
        .active.white{
            border-bottom: .2rem inset #eee;
            background-color: rgba(255, 192, 203, 0.74);
            
            transition: border .3s ease,
            background-color .2s ease;
        }
        .inactive.white{
            transition: border .2s ease,
            background-color .2s ease;
        }
        .active.black{
            border-bottom: .2rem inset #eee;
            background-color: rgba(77, 70, 71, 0.781);
            
            transition: border .1s ease,
            background-color .2s ease;
        }
        .inactive.black{
            transition: border .1s ease,
            background-color .2s ease;
        }
        .key1{
            position: relative;
        }
        .key1::after{
            position: absolute;
            bottom:.1rem;
            left:.3rem;
            counter-increment: keyC;
            content:"C"counter(keyC);
            color:#0005;
            
        }
        
        .key2{
            left:calc(var(--whiteWidth) - var(--blackWidth)/2);
        }
        .key4{
            left:calc(var(--whiteWidth)*2 - var(--blackWidth)/2);
        }
        .key7{
            left:calc(var(--whiteWidth)*4 - var(--blackWidth)/2);
        }
        .key9{
            left:calc(var(--whiteWidth)*5 - var(--blackWidth)/2);
        }
        .key11{
            right:calc(var(--whiteWidth) - calc(var(--blackWidth)/2));
        }
    }
    :nth-child(1){
        justify-content: end;
        width:fit-content;
    }
    :last-child{
        width:fit-content;
    }
}



.synthContainer{
    position:absolute;
    bottom:var(--bottombarHeight);
    
    left:0;
    width:100%;
}

.bottomBar{
    position: absolute;
    bottom:0;
    height:var(--bottombarHeight);
    width:100%;
    .keyboard--sizeControl{
        min-width: 8rem;
        background-color: #fff3;
        height:100%;
        display: flex;
        flex-direction: column;
        position:relative;
        #lblSliderX{
            position: absolute;
            bottom:1.5rem;
            left:4rem;
        }
        #sliderX{
            position: absolute;
            bottom:.5rem;
            left:4rem;
            width:6rem;
        }
        
        #lblSliderY{
            position:absolute;
            top:50%;
            left:1rem;
            transform:rotate(90deg);
        }
        .sliderY{
            position:absolute;
            top:40%;
            height:1rem;
            width:4rem;
            left:0rem;
            transform:rotate(270deg);
        }

        .keyboardPosition{
            width:10rem;
            position:absolute;
            bottom:.3rem;
            left:12rem;
        }
    }
    
}