:root {
  --octaveWidth:16.6rem;
  --octaveHeight:10rem;
  --whiteHeight:var(--octaveHeight);
  --blackHeight:calc(var(--whiteHeight)/2);
  --whiteWidth:calc(var(--octaveWidth)/7);
  --blackWidth:calc(var(--whiteWidth)/2.3);
  --whiteKeyPress: whiteKeyPress 2s ease;
  --bottombarHeight:7rem;
}

body {
  counter-reset: keyC;
}

button {
  cursor: pointer;
}

#svgsvg {
  background-color: pink;
  stroke: red;
  stroke-width: 10px;
  z-index: 100;
}

/* button:hover{
    animation: whiteKeyPress 2s ease;
} */
.keyboardWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
}

.keyboardHead {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #253259f5;
  top: -12rem;
  height: 12rem;
  width: 100%;
  border-radius: .3rem .3rem .1rem .1rem;
}

.keyboardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fff9;
  z-index: 20;
}

.keyboardContainer .octave {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: var(--octaveHeight);
  width: var(--octaveWidth);
  position: relative;
}

.keyboardContainer .octave * {
  margin: .0005rem;
  border: transparent;
}

.keyboardContainer .octave .white {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fff1), to(#ddd));
  background-image: linear-gradient(to top, #fff1, #ddd);
  border-bottom: 10px inset #eee9;
  border-left: .01rem solid #ddd;
  border-right: .01rem solid #ddd;
  border-top: none;
  border-radius: 0 0 5px 5px;
  height: var(--whiteHeight);
  width: var(--whiteWidth);
}

.keyboardContainer .octave .black {
  position: absolute;
  z-index: 10;
  background-color: black;
  height: var(--blackHeight);
  width: var(--blackWidth);
}

.keyboardContainer .octave .active.white {
  border-bottom: .2rem inset #eee;
  background-color: rgba(255, 192, 203, 0.74);
  -webkit-transition: border .3s ease, background-color .2s ease;
  transition: border .3s ease, background-color .2s ease;
}

.keyboardContainer .octave .inactive.white {
  -webkit-transition: border .2s ease, background-color .2s ease;
  transition: border .2s ease, background-color .2s ease;
}

.keyboardContainer .octave .active.black {
  border-bottom: .2rem inset #eee;
  background-color: rgba(77, 70, 71, 0.781);
  -webkit-transition: border .1s ease, background-color .2s ease;
  transition: border .1s ease, background-color .2s ease;
}

.keyboardContainer .octave .inactive.black {
  -webkit-transition: border .1s ease, background-color .2s ease;
  transition: border .1s ease, background-color .2s ease;
}

.keyboardContainer .octave .key1 {
  position: relative;
}

.keyboardContainer .octave .key1::after {
  position: absolute;
  bottom: .1rem;
  left: .3rem;
  counter-increment: keyC;
  content: "C" counter(keyC);
  color: #0005;
}

.keyboardContainer .octave .key2 {
  left: calc(var(--whiteWidth) - var(--blackWidth)/2);
}

.keyboardContainer .octave .key4 {
  left: calc(var(--whiteWidth)*2 - var(--blackWidth)/2);
}

.keyboardContainer .octave .key7 {
  left: calc(var(--whiteWidth)*4 - var(--blackWidth)/2);
}

.keyboardContainer .octave .key9 {
  left: calc(var(--whiteWidth)*5 - var(--blackWidth)/2);
}

.keyboardContainer .octave .key11 {
  right: calc(var(--whiteWidth) - calc(var(--blackWidth)/2));
}

.keyboardContainer :nth-child(1) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.keyboardContainer :last-child {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.synthContainer {
  position: absolute;
  bottom: var(--bottombarHeight);
  left: 0;
  width: 100%;
}

.bottomBar {
  position: absolute;
  bottom: 0;
  height: var(--bottombarHeight);
  width: 100%;
}

.bottomBar .keyboard--sizeControl {
  min-width: 8rem;
  background-color: #fff3;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.bottomBar .keyboard--sizeControl #lblSliderX {
  position: absolute;
  bottom: 1.5rem;
  left: 4rem;
}

.bottomBar .keyboard--sizeControl #sliderX {
  position: absolute;
  bottom: .5rem;
  left: 4rem;
  width: 6rem;
}

.bottomBar .keyboard--sizeControl #lblSliderY {
  position: absolute;
  top: 50%;
  left: 1rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.bottomBar .keyboard--sizeControl .sliderY {
  position: absolute;
  top: 40%;
  height: 1rem;
  width: 4rem;
  left: 0rem;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.bottomBar .keyboard--sizeControl .keyboardPosition {
  width: 10rem;
  position: absolute;
  bottom: .3rem;
  left: 12rem;
}
/*# sourceMappingURL=keyboardStyle.css.map */